<link href="/demos/view-transition-examples/{{type}}/index.css" rel="stylesheet" />

{% assign number = page.fileSlug | split: "-" | last %}
{% assign id = 236 | plus: number %}


<h1>{{ type }} example {{ number }}</h1>

<img {% if add_view_transition %} style="view-transition-name: image-{{ id }}; view-transition-class: image" {% endif %} src="https://picsum.photos/id/{{id}}/600/600">